.caja1,.caja2,.caja3,.caja4,.caja5,.caja6{
		width: 225px;
		margin: 15px;
		background-color: aqua;
		text-align: center;
		font-family: arial;
		
	}
	.home1 div p,.home2 div p{
		text-align: justify;
		padding: 10px;

	}


.home1,.home2{
	width: 100%;
	height: 500px;
	display: flex;
	background-color: #CFF3F0 ;
	justify-content: space-around;
	
	
}
@media (max-width: 800px)
{
	.home1,.home2{
		flex-direction: column;
		align-items: center;
	}
	
}

.imagen2{
	width: 225px;
	height: 225px;
	overflow: hidden;
	transition:  all 500ms ease;
}
.imagen2 img{
	width: 100%;
	height: 100%;
	transition: all 500ms ease;
}
.imagen2 img:hover{
	transform: scale(1.15,1.15);

}